body {
    background: #fcfcfc;
}

input[type=text] {
    width: 50%;
    padding: 10px 10px;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.button-save {
    background: #98B9C8; /* Цвет фона */
    color: #000000; /* Цвет текста */
    padding: 0.5rem 1.5rem; /* Поля вокруг текста */
    border-radius: 3px; /* Скругляем уголки */
    margin: 20px; /* Отступы */
}

.button-save:hover {
    background: #F5F5DC; /* Цвет фона кнопки сохранения при наведении курсором мыши */
}

.button-delete {
    background: #FFE4E1; /* Цвет фона */
    color: #000000; /* Цвет текста */
    padding: 0.5rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    margin: 5px; /* Отступы */
    margin-top: 0px; /* Отступ сверху */
}

.button-delete:hover {
    background: #F5F5DC; /* Цвет фона кнопки удаления при наведении курсором мыши */
}

.img-product {
    display: block;
    max-width: 100%;
}

.passe-partout {
    padding: 5px; /* Ширина паспарту */
    background: #00BFFF; /* Цвет фона  паспарту */
    border: 0px solid #666; /* Параметры рамки */
}

a .passe-partout:hover {
    background: #F5F5DC; /* Цвет фона паспарту при наведении на ссылку курсора мыши */
}