body {
    background: #fcfcfc;
}

a {
    color: black;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.grid-container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
}

.grid-item {
    font-size: 30px;
    margin: 20px;
}

.profile-panel {
    grid-row-start: 1;
    grid-row-end: 3;
}

input[type=text], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=text]:focus, select:focus {
    outline: none;
    border: 2px solid lightblue;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.button-default {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.button-default:hover {
    color: white;
    background-color: #45a049;
}

.button-delete {
    background-color: #FFAAAA;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.button-delete:hover {
    background-color: #FE8282;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.img-product {
    display: block;
    max-width: 100%;
}

.passe-partout {
    padding: 5px; /* Ширина паспарту */
    background: lightblue; /* Цвет фона  паспарту */
    border: 0px; /* Параметры рамки */
}

a .passe-partout:hover {
    outline-color: lightblue;
    outline-style: outset;
    outline-width: thin;
}
