body {
    background: #fcfcfc;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

input[type=text], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=text]:focus, select:focus {
    outline: none;
    border: 2px solid lightblue;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.button-delete {
    background-color: #FFAAAA;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.button-delete:hover {
    background-color: #FE8282;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.img-product {
    display: block;
    max-width: 100%;
}

.passe-partout {
    padding: 5px; /* Ширина паспарту */
    background: lightblue; /* Цвет фона  паспарту */
    border: 0px; /* Параметры рамки */
}

a .passe-partout:hover {
    border: 2px solid lightblue; /* Цвет фона паспарту при наведении на ссылку курсора мыши */
}
