<section>
    <div class="row">
        <h4>Панель администратора</h4>
        <div class="col-2">
            <a class="btn btn-primary" asp-area="admin" asp-controller="Users" asp-action="Index">Пользователи</a>
            <a class="btn btn-primary" asp-area="admin" asp-controller="Positions" asp-action="Index">Должности</a>
            <a class="btn btn-primary" asp-area="admin" asp-controller="Categories" asp-action="Index">Категории товаров</a>
        </div>
        <div class="col-10">

        </div>
    </div>
</section>