@model IQueryable<Product>

<div>
    <h1>Товары</h1>
    <div class="nav-link active">
        <a asp-controller="Products" asp-action="Edit" asp-route-id="">Добавить</a>
    </div>
    <div>
        @if (Model.Any())
        {
            <ul>
                @foreach (Product product in Model)
                {
                <li>
                    <a asp-controller="Products" asp-action="Index" asp-route-id="@product.Id">
                        <img src="~/img/products/@product.ImagePath" alt="" />
                    </a>
                    <h4>@($"{product.Name}")</h4>
                    <p>@product.Price</p>
                </li>
                }
            </ul>
        }
    </div>
</div>