<footer>
    <div class="container">
        <div class="row">
            <div class="footer-info">
                <h3>@Config.CompanyName</h3>
                <p>
                    <strong>Phone:</strong> @Config.Phone<br />
                    <strong>Email:</strong> @Config.Email<br />
                </p>
                <p>© 2021</p>
            </div>
        </div>
    </div>
</footer>