<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-xxl">
            <a asp-area="default" asp-controller="Home" asp-action="Index" class="navbar-brand">@Config.CompanyName</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Мой профиль
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" asp-area="default" asp-controller="Salaries" asp-action="Index">Моя заработная плата</a></li>
                            <li><a class="dropdown-item" asp-area="default" asp-controller="Account" asp-action="Index">Настройки</a></li>
                            <li><a class="dropdown-item" asp-area="default" asp-controller="Account" asp-action="LogOff">Выйти</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a asp-area="admin" asp-controller="Home" asp-action="Index" class="nav-link active" aria-current="page">Панель администратора</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Поиск..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </nav>
</header>