<h1>Home</h1>

<p>
    @ViewBag.Name
</p>

<p>
    <a asp-controller="Salaries" asp-action="Index" class="nav-link active" aria-current="page">Моя заработная плата</a>
    <a asp-controller="Products" asp-action="Index" class="nav-link active" aria-current="page">Товары</a>
    <a asp-area="admin" asp-controller="Home" asp-action="Index" class="nav-link active" aria-current="page">Панель администратора</a>
</p>

<a asp-controller="Account" asp-action="LogOff">Выйти из учетной запси</a>