@model IQueryable<User>

<div>
    <h1>Пользователи</h1>
    <div>
        @if (Model.Any())
        {
            <div>
                @foreach (User user in Model)
                {
                <div>
                    <a asp-area="admin" asp-controller="Users" asp-action="Index" asp-route-id="@user.Id">
                        @($"{user.UserName}")
                    </a><br />

                    <a asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">Редактировать</a>
                    <form style="display: inline-block" asp-area="Admin" asp-controller="Users" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit">Удалить</button>
                    </form>
                </div>
                }
            </div>
        }
    </div>
</div>