@model IQueryable<User>

<h1>Пользователи</h1>
<div>
    @if (Model.Any())
    {
        <div class="list-group">
            @foreach (User user in Model)
            {
            <div class="col">
                <div class="card" style="width: 20rem">
                    <div class="card-body">
                        <h5 class="card-title">@($"{user.Fullname}")</h5>
                        <a asp-area="admin" asp-controller="Users" asp-action="Index" asp-route-id="@user.Id" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            }
        </div>
    }
</div>