@model IQueryable<User>

<section id="item" class="item">
    <div class="container text-center mt-3">
        <div class="section-title">
            <h3>Пользователи</h3>
            <a class="btn btn-primary" asp-controller="Users" asp-action="Edit">Добавить</a>
        </div>
        <div class="row">
            @if (Model.Any())
            {
                @foreach (User user in Model)
                {
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="~/img/Icons/employee.svg" />
                                <div class="action">
                                    <a asp-controller="Users" asp-action="Index" asp-route-id="@user.Id" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                            <div class="member-info">
                                <output>@user.Fullname</output><br />
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>