<div>
    <h1>Панель администратора</h1>
    <div>
        <a class="nav-link active" asp-area="Admin" asp-controller="Users" asp-action="Index">Пользователи</a>
    </div>
    <a class="nav-link active" asp-area="" asp-controller="Account" asp-action="LogOff" method="post">Выйти из учетной записи</a>
</div>