@model User

<h1>@Model.UserName</h1>

<section>
    <h2><a asp-controller="Account" asp-action="Index">@Model.UserName</a></h2>
</section>

<div class="grid-container">
    <div class="grid-item"><a class="button-default" asp-controller="Products" asp-action="Index">Товары</a></div>
    <div class="grid-item"><a class="button-default" asp-controller="Sales" asp-action="Index">Продажи</a></div>
    <div class="grid-item"><a class="button-default" asp-controller="Salaries" asp-action="Index">Моя заработная плата</a></div>
</div>

<a asp-controller="Account" asp-action="LogOff">Выйти из учетной запси</a>