<!DOCTYPE html>

<html>
<head>
    <!-- Metatags -->
    @await Html.PartialAsync("MetatagsPartial")

    <!-- Css styles -->
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    <div class="page">
        <div class="container mt-5">
            @RenderBody()
        </div>
    </div>
</body>
</html>