@model Product
@{
    string strTitle = "Редактировать запись";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-controller="Products" asp-action="Edit" method="post">
            <div>
                <label asp-for="ProductName"></label>
                <input asp-for="ProductName" />
                <span asp-validation-for="ProductName"></span>
            </div>
            <div>
                <label asp-for="Category"></label>
                <input asp-for="Category" />
                <span asp-validation-for="Category"></span>
            </div>
            <div>
                <label asp-for="Price"></label>
                <input asp-for="Price" />
                <span asp-validation-for="Price"></span>
            </div>
            <div>
                <label asp-for="IsFavorite"></label>
                <input asp-for="IsFavorite" />
                <span asp-validation-for="IsFavorite"></span>
            </div>
            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>