@model Category

<div class="mt-4 mb-5">
    <h2>Запись</h2>
    <form asp-controller="Categories" asp-action="Edit" method="post">
        <div>
            <label asp-for="Name"></label><br />
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="IsFavorite"></label>
            <input asp-for="IsFavorite" />
            <span asp-validation-for="IsFavorite"></span>
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Сохранить" />
    </form>
</div>