@model Position

<div>
    <h2>Редактировать запись</h2>
    <div>
        <form asp-area="admin" asp-controller="Positions" asp-action="Edit" method="post">
            <div>
                <label asp-for="Name"></label><br />
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="HourlyRate"></label><br />
                <input asp-for="HourlyRate" />
                <span asp-validation-for="HourlyRate"></span>
            </div>
            <button class="button-save" type="submit">Сохранить</button>
        </form>
    </div>
</div>