@model IQueryable<Position>

<section id="item" class="item">
    <div class="container text-center mt-4 mb-4">
        <div class="section-title">
            <h3>Должности</h3>
            <a class="btn btn-primary mt-2" asp-controller="Positions" asp-action="Edit">Добавить</a>
        </div>
        <div class="row mt-4">
            @if (Model.Any())
            {
                @foreach (Position position in Model)
                {
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="~/img/Icons/man.svg" />
                                <div class="action">
                                    <a asp-controller="Positions" asp-action="Index" asp-route-id="@position.Id" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                            <div class="member-info">
                                <output>@position.Name</output><br />
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>