@model Position

<div class="mt-4 mb-5">
    <h2>@Model.Name</h2>
    <p>
        <label asp-for="HourlyRate"></label>
        <output>: @Model.HourlyRate рублей</output><br />
    </p>

    <a class="btn btn-primary" asp-area="admin" asp-controller="Positions" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <form style="display: inline-block" asp-area="admin" asp-controller="Positions" asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button class="btn btn-primary" type="submit">Удалить</button>
    </form>
</div>