@model IQueryable<Sale>

<div class="container text-center mt-3 mb-3">
    <div class="section-title">
        <h3>Продажи</h3>
        <a class="btn btn-primary" asp-controller="Sales" asp-action="Edit">Добавить</a>
    </div>
</div>
<div class="mb-5">
    @if (Model.Any())
    {
        <div class="list-group">
            @foreach (Sale sale in Model)
            {
                <a class="list-group-item list-group-item-action" asp-controller="Sales" asp-action="Index" asp-route-id="@sale.Id">@sale.DateAdded — @sale.User.Fullname</a>
            }
        </div>
    }
</div>